body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar{
	background-color: #ffa500;
}

.navbar-right{
	background-color: #ffa500;
}


h2.h2test {
  text-align: center;
}

h1{
	color: #ffa500;

}